html {
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: hsl(218deg, 28%, 13%);
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, .nav {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

ul, li {
  margin: 0;
}

/* helper classes */
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 43.6875rem) {
  .container {
    max-width: 46.875rem;
  }
}
@media (min-width: 62.5rem) {
  .container {
    max-width: 80.625rem;
  }
}

.px {
  padding: 0 1.6875rem;
}

/* form elements */
input, button {
  font-family: "Raleway", sans-serif;
  height: 3.5rem;
  border-radius: 2rem;
  padding: 0 2.5rem;
}

button {
  background: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 1.125rem;
  border: none;
  border-radius: 2rem;
  width: 17.75rem;
  transition: filter 200ms ease-in-out;
  cursor: pointer;
}
button:hover {
  filter: brightness(125%);
}

/* icons */
/* header */
.header {
  background-color: hsl(217deg, 28%, 15%);
  padding: 1.5625rem 1.25rem 3.125rem 1.25rem;
}
.header__grid {
  display: grid;
  grid-template-columns: minmax(6.25rem, 1fr) auto;
  align-items: center;
}
.header__logo {
  width: 5.1875rem;
}

@media (min-width: 62.5rem) {
  .header {
    padding: 4.5625rem 5rem;
  }
  .header__logo {
    width: 11.5625rem;
  }
}
/* header navigation */
.nav-list {
  list-style-type: none;
}
.nav-item {
  display: inline-block;
}
.nav-item:not(:first-child) {
  margin-left: 1.25rem;
}
.nav-link {
  color: hsl(0deg, 0%, 100%);
  font-size: 0.875rem;
}
.nav-link:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 62.5rem) {
  .nav-item:not(:first-child) {
    margin-left: 3.4375rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}
/* hero */
.hero {
  background-color: hsl(217deg, 28%, 15%);
  background-image: url("/images/bg-curvy-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 9.6875rem;
}
.hero__img {
  width: 100%;
  max-width: 44.75rem;
}
.hero__title {
  font-size: 1.5rem;
  max-width: 42.375rem;
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}
.hero__copy {
  max-width: 36.5625rem;
}
.hero__btn {
  margin-top: 2.25rem;
}
@media (min-width: 62.5rem) {
  .hero {
    background-image: url("/images/bg-curvy-desktop.svg");
  }
  .hero__title {
    font-size: 2.5rem;
    margin: 3.25rem 0;
  }
  .hero__copy {
    font-size: 1.25rem;
  }
}

/* features */
.features {
  display: grid;
  gap: 5.625rem;
  max-width: 56.25rem;
}
.features img {
  height: 5rem;
}
.features__item {
  text-align: center;
}
.features__subtitle {
  margin: 1.875rem 0 1rem 0;
  font-size: 1.375rem;
}
.features__copy {
  font-size: 1rem;
}
@media (min-width: 43.6875rem) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* stay-productive */
.stay-productive {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 8.4375rem;
  margin-bottom: 9.375rem;
}
.stay-productive__img img {
  width: 100%;
}
.stay-productive__title {
  font-size: 1rem;
}
.stay-productive .explore-link {
  background-image: url("/images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  color: hsl(176deg, 68%, 64%);
  padding-right: 1.25rem;
  border-bottom: 2px solid;
  transition: all 200ms ease-in-out;
}
.stay-productive .explore-link:hover {
  background-image: url("/images/icon-arrow-hover.svg");
  color: hsl(0deg, 0%, 100%);
  border-color: hsl(0deg, 0%, 100%);
}
@media (min-width: 62.5rem) {
  .stay-productive {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
  }
  .stay-productive__copy {
    padding-left: 3.125rem;
  }
  .stay-productive__title {
    font-size: 2.5rem;
    max-width: 75%;
  }
}

/* testimonials */
.testimonials__grid {
  background-image: url("/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: top left 20px;
  display: grid;
  gap: 2.8125rem;
  padding-top: 2.1875rem;
}
@media (min-width: 62.5rem) {
  .testimonials__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.testimonials__card {
  background-color: hsl(219deg, 30%, 18%);
  font-size: 0.875rem;
  padding: 1.875rem 1.5625rem 1.5625rem 1.5625rem;
  border-radius: 0.625rem;
  box-shadow: 5px 9px 10px hsla(216deg, 53%, 9%, 0.3);
}
.testimonials__author {
  display: flex;
  align-items: center;
}
.testimonials__author--icon {
  max-height: 1.875rem;
  border-radius: 50%;
  padding-right: 0.5rem;
}
.testimonials__author--title {
  display: block;
  font-size: 0.5625rem;
  color: hsl(219deg, 13%, 60%);
}

/* email cta */
.signup {
  background-color: hsl(217deg, 28%, 15%);
  max-width: 53.75rem;
  margin: 0 auto;
  margin-bottom: 4.6875rem;
  padding: 2.1875rem 1.75rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 5px 9px 10px hsla(216deg, 53%, 9%, 0.3);
  transform: translateY(55%);
}
.signup__title {
  font-size: 1.125rem;
  margin-bottom: 1.75rem;
}
.signup__copy {
  margin-bottom: 2.1875rem;
}
.signup__email-form {
  display: inline-block;
  width: 100%;
}
.signup input {
  margin-bottom: 1.5625rem;
}
.signup button {
  width: 100%;
}
@media (min-width: 62.5rem) {
  .signup {
    padding: 3.125rem 4.6875rem 2.5rem 4.6875rem;
    transform: translateY(75%);
  }
  .signup__title {
    font-size: 1.75rem;
    margin-bottom: 1.875rem;
  }
  .signup__copy {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
  .signup input {
    max-width: 28.75rem;
    margin-bottom: 0;
  }
  .signup button {
    width: 13.75rem;
    margin-left: 1.5625rem;
    font-size: 0.875rem;
  }
}

/* footer */
.footer {
  background-color: hsl(216deg, 53%, 9%);
  padding-top: 12.5rem;
  padding-bottom: 5.625rem;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 2.5;
}
.footer .footer-grid a {
  color: hsl(0deg, 0%, 100%);
}
.footer .footer-grid a:hover {
  font-weight: 700;
}
.footer .footer-grid__about li.icon-location {
  list-style-image: url("/images/icon-location.svg");
  padding-left: 1.5rem;
}
.footer .footer-grid__contact li.icon-phone {
  list-style-image: url("/images/icon-phone.svg");
  padding-left: 1.5rem;
}
.footer .footer-grid__contact li.icon-email {
  list-style-image: url("/images/icon-email.svg");
  padding-left: 1.5rem;
}
.footer .footer-grid__links-1 ul, .footer .footer-grid__links-2 ul {
  list-style: none;
}
.footer .footer-grid__social {
  text-align: center;
}
.footer .footer-grid__social li {
  display: inline-block;
}
.footer .footer-grid__social li:not(:last-child) {
  margin-right: 1rem;
}
.footer .footer-grid__social .social-icon:hover {
  color: hsl(176deg, 68%, 64%);
}

@media (min-width: 62.5rem) {
  .footer-grid {
    row-gap: 2.1875rem;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo logo logo logo" "about contact links-1 links-2 social";
  }
  .footer-grid__logo {
    grid-area: logo;
  }
  .footer-grid__about {
    grid-area: about;
    padding-right: 5rem;
  }
  .footer-grid__contact {
    grid-area: contact;
  }
  .footer-grid__links-1 {
    grid-area: links-1;
  }
  .footer-grid__links-2 {
    grid-area: links-2;
  }
  .footer-grid__social {
    grid-area: social;
  }
}/*# sourceMappingURL=main.css.map */